<link href="css/staff.css" rel="stylesheet">

<div class="row m-crm" id="conferenceRoom_manage">
    <div class="col-xs-12  col-xs-12 main">
        <div id="m_crm_div" class="m-crm-t">

            <div class="m-crm-bt1">
                <button type="button" onclick="conferenceroom.showConferenceRoomList(1,50)" class="btn btn-default btn-lg" data-dismiss="modal">{[conferenceroom.html.all]}</button>
                <button type="button" onclick="conferenceroom.showConferenceRoomList(1,50,null,null,'normal_room',null)" class="btn btn-default btn-lg" data-dismiss="modal">{[conferenceroom.html.commonRoom]}</button>
                <button type="button" onclick="conferenceroom.showConferenceRoomList(1,50,null,null,'vc_room',null)" class="btn btn-default btn-lg">{[conferenceroom.html.vcRoom]}</button>
            </div>
            <input type="hidden" id="room_type">
            <div style="padding-top: 2px" class="search-box search-box-left m-crm-s">
                <input class="form-control" id="search_conference_room" maxlength="60" title="{[global.html.search]}" placeholder="{[global.html.search]}" type="text">
                <span class="searchbox-icon" id="search_conference_room_box" onclick="conferenceroom.searchByKey()"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <button class="btn btn-yealink btn-height34 pull-right" onclick="conferenceroom.openAddPage()">
                <img src="img/operation/add-white.png"><span>{[conferenceroom.html.addRoom]}</span>
            </button>
        </div>
        <div class="panel panel-body">
            <div class="m-am-b2 m-magin-bottom10">
                <a class="no-underline" href="javascript:void(0);" id="batchDeleteStaff" title="{[global.html.deleteMany]}" onclick="conferenceroom.deleteBatch()">
                    <img src="img/button/sgdel.png" class="m-img-position">
                    <span>{[global.html.deleteMany]}</span>
                </a>
            </div>
            <div id="m-crm-table"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="m-crm-add">
    <div class="modal-dialog" style="width: 680px;">
        <div class="modal-content" style="border-radius: 0px;width: 680px;">
            <div class="modal-header"  style="height: 40px;background-color: #2fb283">
                <span class="modal-title" style="color: #fff;font-size: 18px;text-align: center;display: block;width: 100%;position: relative;bottom: 8px;">{[conferenceroom.html.addRoom]}</span>
            </div>
            <div class="modal-body" style="padding: 0px 68px;">
                <form role="form" id="m-crm-addform" style="margin-top: 36px;margin-bottom: 40px;">
                    <div class="form-group ">
                        <label class="control-label" style="width: 120px;">{[conferenceroom.html.room.type]}：</label>
                        <div class="radio" style="display: inline-block">
                            <label>
                                <input type="radio" checked value="normal_room" name="type" onclick="conferenceroom.switchPage('normal_room','add')"> {[conferenceroom.html.commonRoom]}
                            </label>
                            <label>
                                <input type="radio" value="vc_room" name="type" onclick="conferenceroom.switchPage('vc_room','add')"> {[conferenceroom.html.vcRoom]}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="width: 120px;">{[conferenceroom.html.room.name]}：</label>
                        <label class="control-label m-error-message" style="position: absolute;top: 30px;"></label>
                        <input type="text" class="form-control" name="name" style="padding-left: 13px;;height: 40px;display: inline-block;width: 415px; border-radius: 0px;" id="name_create" placeholder="{[conferenceroom.html.room.name.input]}" maxlength="255">
                    </div>
                    <div id="m-crm-binding-account-div" hidden="true">
                        <div class="form-group">
                            <label class="control-label" style="width: 120px;">{[conferenceroom.html.account.bound]}：</label>
                            <div class="dropdown" style="height: 40px;display: inline-block;width: 415px; border-radius: 0px;">
                                <button type="button" class="btn btn-default" id="account_binding_add"
                                        style="height: 40px;width: 415px; border-radius: 0px;"
                                        onclick="conferenceroom.showAccountBingDropDown('add')"
                                        data-toggle="dropdown">
                                    <span style="float: left;" id="account_binding_username_add">{[conferenceroom.html.choose.account]}</span>
                                    <span class="caret" style="float: right;margin-top: 10px;"></span>
                                </button>
                            </div>
                            <input type="hidden" class="form-control" id="account_binding_id_add" name="account_binding_id">

                            <div id="m_crm_search_account_div_add" style="position: absolute;width: 426px;padding: 15px;background-color: #fff;left: 176px;" hidden="true">
                                <div class="row">
                                    <div class="col-xs-12" id="search_staff_account_div_add">
                                        <div style="width:100% ;margin-bottom: 10px;" class="search-box">
                                            <input class="form-control" id="search_staff_account_input_crm_add"
                                                   maxlength="60" title="{[global.html.search]}" placeholder="{[global.html.search]}"
                                                   autocomplete="off" type="text">
                                            <span class="searchbox-icon" onclick="conferenceroom.showBindingAccountListBySearchKey('add',this)"><i class="glyphicon glyphicon-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <table class="table table-head" align="center">
                                        <thead>
                                        <tr class="table-tr-head">
                                            <th width="25%" class="white-color">{[conferenceroom.html.name]}</th>
                                            <th width="25%" class="white-color">{[conferenceroom.html.account]}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="div-scroll-table-body">
                                        <table class="table table-content" align="center">
                                            <tbody id="search_account_list_crm_add">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="m_crm_binding_account_name_div">
                            <label class="control-label" style="width: 120px;">{[conferenceroom.html.accountAndName]}：</label>
                            <div id="m_crm_binding_account_name_div_add" class="g-text-ellipsis"
                                 style="display: inline-block;max-width: 415px;vertical-align: middle;padding-left: 2px"></div>
                        </div>
                    </div>
                </form>
                <div style="margin-left: 110px;margin-bottom: 43px;">
                    <button type="button" class="btn btn-yealink btn-default-size m-commit" onclick="conferenceroom.save('m-crm-addform')">{[global.html.btn.ok]}</button>
                    <button type="button" class="btn btn-yealink-cancel btn-default-size" data-dismiss="modal" style="margin-left: 25px;">{[global.html.btn.cancel]}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m-crm-edit">
</div>
<div style="display: none">
    <ul id="staff_account_for_search_ul_crm">

    </ul>
</div>
<div style="display: none">
    <ul id="conference_room_for_search_crm">

    </ul>
</div>
<div class="modal fade" id="m-crm-equip" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="top: 0px;">
    <div class="modal-dialog" style="margin: 0px">
        <div class="modal-content" style="width: 110px">
            <div class="modal-body" style="max-height: 389px; padding:0px; overflow-y: auto">
                <table id="table-equipDetail" class="table table-head table-hover table-striped">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script id="conferenceRoomListTemp" type="text/html">
    <div class="div-scroll-table-body">
        <table class="table table-content" align="center">
            <thead>
            <tr class="table-tr-head">
                <th width="3%" class="th-color">
                    <input type="checkbox" onclick="conferenceroom.checkAll(this)" id="checkAllStaff" name="checkAllStaff">
                </th>
                <th width="3%" class="th-color"></th>
                <th width="20%"class="white-color
            {{if orderByField == 'name'}}
                {{if orderByType ===1}}
                    row-up
                {{else}}
                    row-down
                {{/if}}
            {{else}}
                row-up-down
            {{/if}}"
            onclick="conferenceroom.showListOrderBy(1,{{pageModel.pageSize}},'name',{{orderByType}},'{{roomType}}','{{searchKey}}');" style="cursor:pointer">{[conferenceroom.html.name]}</th>
            <th width="10%" class="white-color">{[conferenceroom.html.room.type]}</th>
            <th width="20%" class="white-color
                {{if orderByField == 'username'}}
                    {{if orderByType ===1}}
                        row-up
                    {{else}}
                        row-down
                    {{/if}}
                {{else}}
                    row-up-down
                {{/if}}"
                onclick="conferenceroom.showListOrderBy(1,{{pageModel.pageSize}},'username',{{orderByType}},'{{roomType}}','{{searchKey}}');"style="cursor:pointer">{[conferenceroom.html.account]}</th>
            <th width="14%" class="white-color">{[conferenceroom.html.equipType]}</th>
            <th width="20%" class="white-color
                {{if orderByField == 'creationDate'}}
                    {{if orderByType ===1}}
                        row-up
                    {{else}}
                        row-down
                    {{/if}}
                {{else}}
                    row-up-down
                {{/if}}"
                    onclick="conferenceroom.showListOrderBy(1,{{pageModel.pageSize}},'creationDate',{{orderByType}},'{{roomType}}','{{searchKey}}');" style="cursor:pointer">{[conferenceroom.html.add.date]}</th>
                <th width="10%" class="white-color">{[conferenceroom.html.opration]}</th>
            </tr>
            </thead>

        {{if pageModel.total>0}}
            <tbody>
            {{each pageModel.records as prop index}}
            <tr class=" {{if index % 2 ===0}}
                                    table-striped-tr-even
                                {{else}}
                                    table-striped-tr-odd
                                {{/if}}">
                <td width="3%" class="text-align-center" style="line-height: 22px">
                    <label style="float:left">
                        <input type="checkbox" name="conferenceRoomCheck_{{ prop.conferenceRoomId }}" id="conferenceRoomCheck_{{ prop.conferenceRoomId }}">
                    </label>
                </td>
                <td width="3%" class="text-align-center" title="{{((pageModel.pageNo-1)*pageModel.pageSize)+index+1}}">
                    {{((pageModel.pageNo-1)*pageModel.pageSize)+index+1}}
                </td>

                <td width="20%">
                    {{ prop.name}}
                </td>
                <td width="10%">
                    {{if prop.conferenceRoomType === 'normal_room'}}
                        {[conference.html.root.type.general]}
                    {{else}}
                        {[conference.html.root.type.video]}
                    {{/if}}
                </td>
                <td width="20%">
                    {{if prop.sipAccount.username != null }}
                        {{prop.sipAccount.username}}
                    {{else}}
                        --
                    {{/if}}
                </td>
                <td width="14%">
                    {{if prop.deviceTypes.length == 0}}
                        --
                    {{/if}}
                    {{each prop.deviceTypes as device index}}
                        {{if index==0}}
                        <a class="btn equipDetail" data-toggle="popover" style="padding: 0px"
                           data-devices="
                                           {{if prop.deviceTypes.length>1}}
                                               {{each prop.deviceTypes as device index}}
                                                   {{if index>0}}
                                                        {{device}};
                                                   {{/if}}
                                               {{/each}}
                                           {{/if}}"
                           onclick="conferenceroom.toggleShowEquip(this,event);">{{device}}
                            {{if prop.deviceTypes.length>1}}
                            <img src="/img/dowm-arrow.png">
                            {{/if}}
                        </a>
                        {{/if}}
                    {{/each}}
                </td>
                <td width="20%" >
                    {{ prop.createDate}}
                </td>
                <td width="10%">
                    <div class="td-div-operation">
                        <button class="m-tau-table-edit m-btn-edit"
                                onmouseup="conferenceroom.openEditPage('{{ prop.conferenceRoomId }}')"
                                title="{[conferenceroom.html.room.edit]}" ></button>
                        <button class="m-tau-table-del m-btn-sgdel margin-left15"
                                onmouseup="conferenceroom.deleteRoom('{{ prop.conferenceRoomId }}')"
                                title="{[conferenceroom.html.room.delete]}" ></button>

                    </div>
                </td>
            </tr>
            {{/each}}
            </tbody>
        {{/if}}
        </table>

        {{if pageModel.total <=0}}
            <div class="text-center">
                {[conferenceroom.html.Room.null]}
            </div>
        {{/if}}
    </div>

{{if pageModel.total>0}}
    <div class="fixed-table-pagination">
        <input type="hidden" id="currentPageNo" value="{{ pageModel.pageNo }}">
        <input type="hidden" id="currentPageSize" value="{{ pageModel.pageSize }}">
        <div class="pull-right pagination">
            <ul class="pagination">
                {{if pageModel.totalPages === 1}}
                <li class="page-pre"><a href="javascript:void(0)" class="page-pre"></a></li>
                <li class="page-next"><a href="javascript:void(0)" class="page-next"></a></li>
                {{else}}
                {{if pageModel.pageNo === 1}}
                <li class="page-pre"><a href="javascript:void(0)" class="page-pre"></a></li>
                <li class="page-next"><a href="javascript:void(0)"
                                         onclick="conferenceroom.showConferenceRoomList({{pageModel.pageNo + 1}},{{pageModel.pageSize}},'{{orderByField}}', {{orderByType}}, '{{roomType}}',null,'{{searchKey}}');"
                                         class="page-next"></a></li>
                {{else if pageModel.pageNo === pageModel.totalPages}}
                <li class="page-pre"><a href="javascript:void(0)"
                                        onclick="conferenceroom.showConferenceRoomList({{pageModel.pageNo - 1}},{{pageModel.pageSize}},'{{orderByField}}', {{orderByType}}, '{{roomType}}',null,'{{searchKey}}');"
                                        class="page-pre"></a></li>
                <li class="page-next"><a href="javascript:void(0)"
                                         class="page-next"></a></li>
                {{else}}
                <li class="page-pre"><a href="javascript:void(0)"
                                        onclick="conferenceroom.showConferenceRoomList({{pageModel.pageNo - 1}},{{pageModel.pageSize}},'{{orderByField}}', {{orderByType}}, '{{roomType}}',null,'{{searchKey}}');" href="javascript:void(0);"
                                        class="page-pre"></a></li>
                <li class="page-next"><a href="javascript:void(0)"
                                         onclick="conferenceroom.showConferenceRoomList({{pageModel.pageNo + 1}},{{pageModel.pageSize}},'{{orderByField}}', {{orderByType}}, '{{roomType}}',null,'{{searchKey}}');" href="javascript:void(0);"
                                         class="page-next"></a></li>
                {{/if}}
                {{/if}}
            </ul>
        </div>
        <div class="pull-right pagination-detail">
            <span class="pagination-info">{[conferenceroom.html.total]}{{pageModel.total}}{[conferenceroom.html.list2]},</span>
                    <span class="page-list">{[conferenceroom.html.page.each]}
                        <span class="btn-group dropdown">
                            <button style="padding: 0px 12px;position:relative;top: -2px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="page-size">{{pageModel.pageSize}}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="active">
                                    <a href="javascript:void(0)"
                                       onclick="conferenceroom.changeSelectPageSize({{pageModel.pageNo}},10,'{{orderByField}}', {{orderByType}}, '{{roomType}}','{{searchKey}}')">10</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                       onclick="conferenceroom.changeSelectPageSize({{pageModel.pageNo}},20,'{{orderByField}}', {{orderByType}}, '{{roomType}}','{{searchKey}}')">20</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                       onclick="conferenceroom.changeSelectPageSize({{pageModel.pageNo}},50,'{{orderByField}}', {{orderByType}}, '{{roomType}}','{{searchKey}}')">50</a>
                                </li>
                                <li><a href="javascript:void(0)"
                                       onclick="conferenceroom.changeSelectPageSize({{pageModel.pageNo}},100,'{{orderByField}}', {{orderByType}},'{{roomType}}','{{searchKey}}')">100</a>
                                </li>
                            </ul>
                        </span>{[conferenceroom.html.tiao]}
                    </span>
                    <span class="page-select" style="margin-left: 15px;">
                            {[conferenceroom.html.no]}<span class="btn-group dropdown">
                            <button style="padding: 0px 12px;position:relative;top: -2px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="page-size">{{pageModel.pageNo}}</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                {{each pageArray as page index}}
                                <li {{if pageModel.pageNo ===page}}class="active" {{/if}}>
                                <a href="javascript:void(0)" onclick="conferenceroom.changeSelectPageNo({{page}},{{pageModel.pageSize}},'{{orderByField}}', {{orderByType}},'{{roomType}}','{{searchKey}}')">{{page}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </span>{[conferenceroom.html.page]}
                    </span>
        </div>
    </div>
{{/if}}
</script>

<script id="conferenceRoomEditTemp" type="text/html">
    <div class="modal-dialog" style="width: 680px;">
        <div class="modal-content" style="border-radius: 0px;width: 680px;">
            <div class="modal-header" style="height: 40px;background-color: #2fb283">
                <span class="modal-title" style="color: #fff;font-size: 18px;text-align: center;display: block;width: 100%;position: relative;bottom: 8px;">{[conferenceroom.html.room.edit]}</span>
            </div>
            <div class="modal-body" style="padding: 0px 68px;">
                <form role="form" id="m-crm-editform" style="margin-top: 36px;margin-bottom: 40px;">
                    <div class="form-group ">
                        <label class="control-label" style="width: 120px;">{[conferenceroom.html.room.type]}：</label>
                        <div class="radio" style="display: inline-block">
                            <label>
                                <input type="radio" onclick="conferenceroom.switchPage('normal_room','edit')" {{if rows.conferenceRoomType === 'normal_room'}}checked {{/if}} value="normal_room" name="type"> {[conferenceroom.html.commonRoom]}
                            </label>
                            <label>
                                <input type="radio" onclick="conferenceroom.switchPage('vc_room','edit')" {{if rows.conferenceRoomType === 'vc_room'}}checked {{/if}}  value="vc_room" name="type"> {[conferenceroom.html.vcRoom]}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="width: 120px;">{[conferenceroom.html.room.name]}：</label>
                        <label class="control-label m-error-message" style="position: absolute;top: 30px;"></label>
                        <input type="text" class="form-control" style="padding-left: 13px;;height: 40px;display: inline-block;width: 415px; border-radius: 0px;" name="name" id="name_edit" placeholder="{[conferenceroom.html.room.name.input]}" value="{{rows.name}}" maxlength="255">
                    </div>
                    <div id="m-crm-binding-account-div" {{if rows.conferenceRoomType === 'normal_room'}} hidden="true"{{/if}}>
                    <div class="form-group" >
                        <label class="control-label" style="width: 120px;">{[conferenceroom.html.account.bound]}：</label>
                        <div class="dropdown" style="height: 40px;display: inline-block;width: 415px; border-radius: 0px;">
                            <button type="button" class="btn btn-default" id="account_binding_edit"
                                    style="height: 40px;width: 415px; border-radius: 0px;"
                                    onclick="conferenceroom.showAccountBingDropDown('edit')"
                                    data-toggle="dropdown">
							<span style="float: left;" id="account_binding_username_edit">
							{{if rows.conferenceRoomType === 'normal_room'}}{[conferenceroom.html.choose.account]}
								{{else}}{{rows.sipAccount.username}}
							{{/if}}
							</span>
                                <span class="caret" style="float: right;margin-top: 10px;"></span>
                            </button>
                        </div>
                        <input type="hidden" class="form-control" name="businessAccountId" id="account_binding_id_edit"  value="{{rows.sipAccount._id}}">
                        <div id="m_crm_search_account_div_edit" style="position: absolute;width: 426px;padding: 15px;background-color: #fff;left: 176px;" hidden="true">
                            <div class="row">
                                <div class="col-xs-12" id="search_staff_account_div_edit">
                                    <div style="width:100% ;margin-bottom: 10px;" class="search-box">
                                        <input class="form-control" maxlength="60" id="search_staff_account_input_crm_edit" autocomplete="off"
                                               title="{[global.html.search]}" placeholder="{[global.html.search]}" type="text">
                                        <span class="searchbox-icon" onclick="conferenceroom.showBindingAccountListBySearchKey('edit',this)"><i class="glyphicon glyphicon-search"></i></span>
                                    </div>
                                    <div class="select_content" id="result_div" style="width:95%">
                                        <ul id="result_ul">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table class="table table-head"  align="center">
                                    <thead>
                                    <tr class="table-tr-head">
                                        <th width="25%"class="white-color">{[conferenceroom.html.name]}</th>
                                        <th width="25%" class="white-color">{[conferenceroom.html.account]}</th>
                                    </tr>
                                    </thead>
                                </table>
                                <div class="div-scroll-table-body" id="staff_account_scroll_table_body">
                                    <table class="table table-content" align="center">
                                        <tbody id="search_account_list_crm_edit">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="width: 120px;">{[conferenceroom.html.accountAndName]}：</label>
                        <div id="m_crm_binding_account_name_div_edit"  class="g-text-ellipsis"
                             style="display: inline-block;max-width: 415px;vertical-align: middle;padding-left: 2px">{{rows.staffName}}</div>
                    </div>
                    <input type="hidden" class="form-control" name="conferenceRoomId" value="{{rows.conferenceRoomId}}">
                </form>
            </div>
            <div style="margin-left: 110px;margin-bottom: 43px;">
                <button type="button" class="btn btn-yealink btn-default-size m-commit" onclick="conferenceroom.edit('m-crm-editform')">{[global.html.btn.ok]}</button>
                <button type="button" class="btn btn-yealink-cancel btn-default-size" data-dismiss="modal" style="margin-left: 25px;">{[global.html.btn.cancel]}</button>
            </div>
        </div>
    </div>
</script>
<script id="conferenceRoomStaffAccountListTemp" type="text/html">
    {{if pageModel.total>0}}
    {{each pageModel.records as prop index}}
    <tr class=" {{if index % 2 ===0}}
                        table-striped-tr-even
                    {{else}}
                        table-striped-tr-odd
                    {{/if}}" style="cursor:pointer" onclick="conferenceroom.selectBindingAccount('{{ prop.sipAccount._id}}','{{type}}','{{ prop.staff.name}}','{{ prop.sipAccount.username}}')">
            <td width="25%">
                {{ prop.staff.name}}
            </td>
            <td width="25%">
                {{ prop.sipAccount.username}}
            </td>
            {{if pageModel.pageSize <= 50}}
            <td width="1.2%" >
                {{/if}}
        </tr>
        {{/each}}
    {{else}}
    {{/if}}
</script>

