.modal{
    top: 0 !important;
}
body {
    overflow: auto;
}

.control {
    cursor: pointer;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url('../img/conference/control.png') no-repeat;
}

.control:hover {
    background: url('../img/conference/control-h.png') no-repeat;
}

.control:visited {
    background: url('../img/conference/control.png') no-repeat;
}

.back {
    color: #00beeb;
}

#participants {
    overflow: auto;
}

.line2 {
    margin-bottom: 15px;
}

.sp3{
    margin-top: 16px;
}
.sp3 span{
    font-size: 16px;
}
.sp3>span:nth-child(n+2){
	margin-left:20px;
}
.line1 input {
    display: inline;
    width: 200px;
    border-radius: 0px;;
}

.tbtitle {
	font-family:"Microsoft YaHei";
    font-size: 14px;
    color: #00628f;
    font-weight: 600;
    display: block;
    padding: 20px 5px 0px 5px;
    text-align: center;
}

.span-group span {
    display: block;
}

.conf_panel {
    border: 1px solid #cccccc;
}
.btn_width{
	width:100px;
}

.btn_margin15{
    margin-right: 15px;
}

table {
    border-bottom: 1px solid #dddddd;
}

tbody td {
    vertical-align: middle;
}

thead td {
    height: 0px;
}

.td-div-operation a {
    margin-right: 8px;
}
.td-div-operation a:first-child {
    margin-right: 0;
}

.mute {
    float:right;
    margin-top: 14px;
    width: 16px;
    height: 16px;
}

.talk {
    margin-left: 15px;
    margin-top: 13px;
    width: 16px;
    height: 16px;
    background: url(../img/conference/talk.png) no-repeat;
}

.avatar {
    width: 28px;
    height: 28px;
}

.presenter {
    background: url(../img/conference/presenter.png) no-repeat;
}
.organizer{
	background: url(../img/conference/organizer.png) no-repeat;
}
.attendee {
    background: url(../img/conference/attendee.png) no-repeat;
}
.outsider {
	background: url(../img/conference/outsider.png) no-repeat;
}
.lock_tag{
	margin-top:2px;
	margin-right:5px;
	width:28px;
	height:28px;
	background:url(../img/conference/lock.png) no-repeat;
}
.hand {
    width: 80px;
    height: 70px;
    cursor: pointer;
    margin-top: 5px;
    padding-top:40px;
    text-align:center;
    font-size:12px;
    background: url(../img/conference/hand.png) 20px 0 no-repeat;
}

.hand:hover {
    background: url(../img/conference/hand_hover.png) 20px 0 no-repeat;
}

.butn {
    border: 0;
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    min-width: 135px;
    min-height: 35px;
    text-decoration: none;
    color: #777777;
    font-weight: bolder;
    text-align: center;
    padding-top: 44px;
    font-size:12px;
}

.butn:hover {
    color: #444444;
}

.btn_mute {
    background: url(../img/conference/btn_mute.png) 50% 5px no-repeat;
}
.btn_mute:hover {
    background: #e6e6e6 url(../img/conference/btn_mute_hover.png) 50% 5px no-repeat;
}
.btn_mute:active {
    background: #e6e6e6 url(../img/conference/btn_mute_click.png) 50% 5px no-repeat;
}
.btn_talk {
    background: url(../img/conference/btn_talk.png) 50% 5px no-repeat;
}
.btn_talk:hover {
    background: #e6e6e6 url(../img/conference/btn_talk_hover.png) 50% 5px no-repeat;
}
.btn_talk:active {
    background: #e6e6e6 url(../img/conference/btn_talk_click.png) 50% 5px no-repeat;
}
.btn_demon {
    background: url(../img/conference/btn_demon.png) 50% 5px no-repeat;
}
.btn_demon:hover {
    background: #e6e6e6 url(../img/conference/btn_demon_hover.png) 50% 5px no-repeat;
}
.btn_demon:active {
    background: #e6e6e6 url(../img/conference/btn_demon_click.png) 50% 5px no-repeat;
}
.btn_listener {
    background: url(../img/conference/btn_listener.png) 50% 5px no-repeat;
}
.btn_listener:hover {
    background: #e6e6e6 url(../img/conference/btn_listener_hover.png) 50% 5px no-repeat;
}
.btn_listener:active {
    background: #e6e6e6 url(../img/conference/btn_listener_click.png) 50% 5px no-repeat;
}
.btn_presenter {
    background: url(../img/conference/btn_presenter.png) 50% 5px no-repeat;
}
.btn_presenter:hover {
    background: #e6e6e6 url(../img/conference/btn_presenter_hover.png) 50% 5px no-repeat;
}
.btn_presenter:active {
    background: #e6e6e6 url(../img/conference/btn_presenter_click.png) 50% 5px no-repeat;
}
.btn_remove {
    background: url(../img/conference/btn_remove.png) 50% 5px no-repeat;
}
.btn_remove:hover {
    background: #e6e6e6 url(../img/conference/btn_remove_hover.png) 50% 5px no-repeat;
}
.btn_remove:active {
    background: #e6e6e6 url(../img/conference/btn_remove_click.png) 50% 5px no-repeat;
}
.btn_attendee {
    background: url(../img/conference/btn_attendee.png) 50% 5px no-repeat;
}
.btn_attendee:hover {
    background: #e6e6e6 url(../img/conference/btn_attendee_hover.png) 50% 5px no-repeat;
}
.btn_attendee:active {
    background: #e6e6e6 url(../img/conference/btn_attendee_click.png) 50% 5px no-repeat;
}
.chs_layout {
    width: 213px;
    height: 128px;
    float: left;
    margin: 104px 19px 18px 19px;
    text-align: center;
    padding-top: 146px;
    font-family:"Microsoft YaHei";
    font-size: 16px;
    color:#444444;
    text-decoration: none !important;
}

.layout1 {
    background: url(../img/conference/layout_1.png) 0px 0px no-repeat;
}

.layout1_left{
    margin-left:37px;
}
.layout1:hover {
    background-position: -213px 0px;
}
.layout2 {
    background: url(../img/conference/layout_4.png) 0px 0px no-repeat;
}
.layout2:hover {
    background-position: -213px 0px;
}
.layout3 {
    background: url(../img/conference/layout_8.png) 0px 0px no-repeat;
}
.layout3:hover {
    background-position: -213px 0px;
}

.layout_selected{
    background-position: -426px 0px;
}
.calendar-v-room {
    padding-left: 32px;
    background: url('../img/conference/green_vr.png') no-repeat 0px;
}

.calendar-n-room {
    padding-left: 32px;
    background: url('../img/conference/green_nr.png') no-repeat 0px;
}

.calendar-event-normal:hover, .calendar-event-live:hover {
    cursor: pointer;
}
.calendar-event-normal .fc-time>span, .calendar-event-live .fc-time>span,
.calendar-event-normal .fc-time, .calendar-event-live .fc-time,
.calendar-event-normal .fc-title, .calendar-event-live .fc-title{
    font-size: 12px;
    color: #464646;
}
.calendar-event-normal, .calendar-event-live {
    border-top: 2px solid #fff !important;
    border-right: none !important;
    border-left: 4px solid #94e4fb !important;
}
.calendar-event-live {
    border-left: 4px solid #21bbe8 !important;
}
.calendar-event-normal, .calendar-event-normal .fc-bg {
    background-color: #d7f5fe !important;
}
.calendar-event-live, .calendar-event-live .fc-bg {
    background-color: #7fdbf6 !important;
}
.calendar-event-normal .fc-bg, .calendar-event-live .fc-bg   {
    opacity: 0 !important;
}

.fc-rows td.fc-widget-content>div {
    height: 24px;
}
.fc-widget-header  .fc-cell-content {
    text-align: center;
}
.fc-widget-content .regular-checkbox:checked + label:after {
    top: -9px;
}

tr.calendar-highlight {
    border-top: 4px solid #00b7ee;
}
td.calendar-highlight {
    color: #00b7ee;
}

.content-block-removeable {
    border: solid 1px #ccc;
    width: 260px;
    height: 34px;
    line-height: 34px;
    position: relative;
    margin-right: 15px;
    margin-bottom: 2px;
    float: left;
    padding-right: 15px;
    padding-left: 10px;;
}
.content-block-removeable > span {
    width: 190px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-block-removeable > img {
    vertical-align: top;
    margin-top: 7px;
}

.no-border-padding {
    border: none !important;
    padding: 0;
}

.removeable-li {
    width: 336px;
    height: 33px;
    line-height: 20px;
    position: relative;
    margin-right: 15px;
    float: left;
    padding-right: 15px;
    padding-left: 6px;
}
.removeable-li>.chose-name {
    display: inline-block;
    margin-left: 8px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.removeable-li>.remove-btn {
    display: inline-block;
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer
}
.content-block-removeable>span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.external-staff-icon, .internal-staff-icon {
    display: inline-block;
    width:20px;
    height:20px;
}
.external-staff-icon {
    background-image: url(../img/conference/external_staff.png);
}
.internal-staff-icon {
    background-image: url(../img/conference/internal_staff.png);
}

.removeable-x-btn:hover{
    background: url(../img/operation/remove.png) no-repeat right 18px bottom 7px;
}
.ical-icon{
    background: url(../img/operation/cal.png) no-repeat right 0px bottom 3px;
}
.c-m-block-detail {
    width: 360px;
    height: 34px;
    line-height: 34px;
    float: left;
    position: relative;
    margin-right: 15px;
    padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#invite_title_tab {
	display:block;
    width: 100%;
    clear: both;
    height:35px;
    padding-left:10px;
}

#invite_title_tab li {
    display: block;
    float: left;
    text-align: center;
    width: 160px;
    height:30px;
    margin: 10px 20px 0 20px;
}

#invite_title_tab li.active {
    border-bottom: 4px solid #04c396;
}

#invite_title_tab li a {
    text-decoration: none;
    color:black;
    font-size: 18px;
}

#invite_tab1 {
    padding: 15px 20px 0px 20px;
    height: 580px;
}

#outlook_button {
    background: url(../img/conference/outlook.png) no-repeat;
    width: 208px;
    height: 243px;
    margin: 0 auto 0 auto;
    cursor: pointer;
}

.demonstrator {
    width: 140px;
    height: 54px;
    margin: 7px 25px 7px 25px;
    padding-top: 5px;
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

.demonstrator div {
    float: left;
}

.demon_p_name {
    width: 85px;
    text-align: left;
    margin-left: 10px;
    margin-top: 12px;
}

.noactive:hover {
    background-color: #ededed;
}

div .actived {
    background-color: #e0e0e0;
}

.removable_item {
    width: 190px;
    height: 34px;
    line-height: 34px;
    float: left;
    position: relative;
    margin-right: 15px;
    padding-right: 15px;
}

.m-cp-main .popover{
    max-width: 320px;
}
.m-cp-main .form-control[readonly] {
    background-color: #fff;
}

.pop-up-content > p:first-child {
    line-height: 36px;
    margin-right: -8px;
    margin-left: -1px;
    border-bottom: 1px solid #DFDFDF;
}

.pop-up-content > p > span {
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.pop-up-content .span-text-ellipsis,.span-text-ellipsis-ng {
    display: block;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.pop-up-content .span-text-ellipsis-ng,.span-text-ellipsis-ng-padding {
    display: inline-block;
    max-width: 161px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 13px;
}
.pop-up-content .span-text-ellipsis-ng {
    max-width: 265px;
}
.span-text-ellipsis-ng-padding{
    padding-left: 36px;
}

.invited_li{
	height:32px;
	
}
.invited_li:hover{
	background: url(../img/operation/remove.png) no-repeat right 2px ;
}

.m-cp-main{
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #f2f2f2;
}
.m-cp-main-sub .fc-toolbar h2 {
    margin-left: 15px;
    display: inline-block;
    font-size: 15px;
}
.p_agent{
	color:gray;
	font-size:15px;
	display: inline-block;
	word-wrap: break-word; 
	word-break:break-all;
}
.tr_dark{
	background-color: #F5F5F5;
}
.tr_light{
	background-color:#fbfbfb;
}
.person_avatar{
	background: url(../img/conference/internal_staff.png) no-repeat 2px 5px;
	width:28px;
	height:32px;
	display:block;
	float:left;
}

.tree-container{
    height: 326px;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup-btn-detail{
    border-radius: 8px;
    float: left;
    width: 34%;
    margin-right: 42px;
    margin-bottom: 8px;
}
.popup-btn-delete{
    border-radius: 8px;
    width: 34%;
    margin-bottom: 8px;
}
.popup-btn-ctrl{
    width: 34%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.c-row-block{
    padding-top: 27px;
    padding-right: 27px;
    padding-left: 27px;
    border: solid 1px #ccc
}

.c-row-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.c-resource-datetimepicker>span.control-label {
    float: left;
    padding-top: 3px;
    margin-right: 10px;
}
.c-resource-datetimepicker>input.form-control {
    float: left;
    width: 205px;
    height: 25px;
    margin-bottom: 8px;
    margin-right: 5px;
    padding: 0 0 0 10px;
    line-height: 25px;
 }

.c-row-title i{
    cursor: pointer;
}

.recurrence-modal .modal-dialog {
    margin-top:100px;
}
@media (max-height: 730px){
    .recurrence-modal .modal-dialog, #add_participant_modal .modal-dialog, add-presenter-modal .modal-dialog {
        margin-top:0px;
    }
}
.recurrence-modal .modal-content, .recurrence-modal .modal-dialog {
    width: 703px;
}
.recurrence-modal .modal-title {
    text-align: center;
}
.recurrence-modal .recurrence-block-title {
    margin-left: 54px;
}
.recurrence-modal .recurrence-block-content {
    border: solid 1px #E6D4D4;
    margin: 0 39px 10px 39px;
    padding: 15px 5px;
}
.recurrence-modal .recurrence-type {
    padding: 0 15px 10px 15px;
    border-right: 1px solid #dfdfdf;
}
.recurrence-modal .recurrence-recurs {
    padding-top: 12px;
    min-height: 120px;
}
.recurrence-modal .recurrence-recurs .form-group{
    margin-bottom: 10px;
}
.recurrence-content-starttime {
    padding-top: 6px;
}

.i-custom-calendar{
    right: 22px;
    position: relative;
    top: 2px;
}
#invite_a{
	text-decoration:none;
	color:black;
	display:block;
	float:left;
	width:100px;
	height:150px;
	text-align:center;
	padding-top:130px;
	background: url(../img/conference/local_mail.png) no-repeat 0px 0px;
}
#invite_a:hover{
	background: url(../img/conference/local_mail_hover.png) no-repeat 0px 0px;
}
#invite_a:active{
	background: url(../img/conference/local_mail_active.png) no-repeat 0px 0px;
}
#invite_b{
	text-decoration:none;
	color:black;
	display:block;
	float:left;
	margin-left:180px;
	width:100px;
	height:150px;
	text-align:center;
	padding-top:130px;
	vertical-align: bottom;
	background: url(../img/conference/server_mail.png) no-repeat 0px 0px;
}
#invite_b:hover{
	background: url(../img/conference/server_mail_hover.png) no-repeat 0px 0px;
}
#invite_b:active{
	background: url(../img/conference/server_mail_active.png) no-repeat 0px 0px;
}

.mail_targets_item{
	margin-top:2px;
	margin-bottom:2px;
	height:25px;
	float:left;
	cursor: pointer;
    max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mail_targets_margin{
	margin-top:2px;
	margin-bottom:2px;
	height:25px;
	width:7px;
	cursor: text;
	float:left;
}

.mail_inputer{
	width:200px;
	border: 0;
	outline:none;
	margin-left:5px;
}
.mail_selected{
	background-color: #6ecefc;
}
.mail_table{
	height:100%;
	width: 100%;
	border:0;
}
.mail_table td{
	vertical-align:top;
	padding:5px;
}
.mail_table td>div{
	border:1px solid #dddddd;
	width:100%;
	padding:15px;
	height:auto;
}
.mail_list_item{
	padding-left:30px;
	background: url(../../img/conference/internal_staff.png) no-repeat 5px 5px;
	display:block;
	width:98%;
	height:30px;
	line-height: 30px;
	cursor: pointer;
}

.mail_list_item:hover{
	background-color: #e8f2fe;
}
.mail_left_title{
	width: 9%;
	height:30px;
	line-height:30px;
	float:left;
	margin:5px;
}
.mail_content_right{
	width:86%;
	float:right;
	margin:5px;
}
.mail_error{
	color:#dd0000;
}
.mail_input{
	width:160px;
}
.mail_targets_margin_last{
	margin-top:2px;
	margin-bottom:2px;
	height:25px;
	width:80px;
	cursor: text;
	float:left;
}

.mail-remark{
    padding-right: 16px;
    width: 100.8%;
    float: right;
    margin: 5px;
}

.conf-a:link{
     color: #0cc295;
}
.conf-a:visited{
    color: #25c8a0;
}
.conf-a:hover{
    color: #0a9b77;
}
.conf-a:active{
    color: #25c8a0;
}

.conf-plus-circle {
    line-height: 32px;
}
.conf-info-label {
    padding-top: 7px;
}

.conf-recur-content input[type="radio"],.conf-recur-content input[type="checkbox"] {
    height: auto;
}
.conf-recur-content input, .conf-recur-content select {
    height: 22px;
    font-size: 14px;
    padding: 0;
    padding-left: 4px;
    line-height: 22px;
    margin-left: 5px;
    margin-right: 5px;
}
.conf-recur-btn-block {
    padding: 0 55px;
}

.conf-external-eamil::-ms-clear, #search_input_box #search_input::-ms-clear {
    display: none;
}

.modal .modal-title {
    text-align: center;
}
.add-room-modal .modal-dialog {
    width: 865px;
    margin-top: 100px;
}
.add-room-modal .modal-body {
    padding-left: 18px;
    padding-right: 18px;
}
.add-room-modal .calendar {
    width: 100%;
}

.add-person-modal .modal-dialog {
    width: 770px;
    margin-top: 100px;
}

@media (max-width: 1366px){
    .add-person-modal .modal-dialog {
        margin-top: 30px;
    }
}

.add-person-modal .panel-person-list {
    width: 47%;
    float: left;
    height: 445px;
}
.add-person-modal .panel-center {
    width: 5%;
    height: 476px;
    line-height: 476px;
    text-align: center;
    float: left;
}

.add-person-modal .panel-person-added {
    width: 48%;
    height: 445px;
    float: left
}
.add-person-modal .panel-person-added .list-container{
    margin-top: 16px;
}

.add-presenter-modal .modal-dialog {
    width: 770px;
    margin-top: 100px;
}
.add-presenter-modal .panel-person-list {
    width: 47%;
    float: left;
    height: 384px;
}
.add-presenter-modal .panel-center {
    width: 5%;
    height: 384px;
    line-height: 384px;
    text-align: center;
    float: left;
}

.add-presenter-modal .panel-person-added {
    width: 48%;
    height: 384px;
    float: left
}
.add-presenter-modal .panel-person-added .list-container{
    margin-top: 16px;
}
.div-scroll-table-body{
    max-height: 400px;
}

.fc-scroller-canvas td.fc-widget-content div{
    height: 32px;
}

.fc-h-event.fc-timeline-event {
    padding: 0;
}

.m-conf-height1{
    height: 40px;
}

.m-conf-add{
    background: url("../img/operation/add-blue.png") no-repeat;
}

.m-conf-add:hover{
    background: url("../img/operation/add-hover.png") no-repeat;
}

.m-conf-add:focus{
    background: url("../img/operation/add-click.png") no-repeat;
}

.m-conf-add img{
    opacity: 0;
}

.td-vert-md td{
    vertical-align: middle !important;
}
.split-td td:nth-child(n+2){
    border-left: 2px solid white ;
}

.m-conf-icon1, .m-conf-icon2 {
    width: 110px;
    height: 110px;
    text-align: center
}
span.m-conf-title {
    font-size:18px;
    color: #fff;
    display: block;
    text-align: center;
}

.m-conf-icon1{
    margin-top: 35px;
    background: url('../img/conference/icon-1.png') no-repeat center;
}
.m-conf-icon1:hover{
    background: url("../img/conference/icon-1-h.png") no-repeat center;
    cursor: pointer;
}
.m-conf-icon1:active{
    background: url("../img/conference/icon-1-c.png") no-repeat center;
}
.m-conf-icon1:focus, .m-conf-icon2:focus{
    outline: none;
}

.m-conf-icon2{
    margin-top: 35px;
    background: url('../img/conference/icon-2.png') no-repeat center;
    cursor: pointer;
}
.m-conf-icon2:hover{
    background: url("../img/conference/icon-2-h.png") no-repeat center;
}
.m-conf-icon2:active{
    background: url("../img/conference/icon-2-c.png") no-repeat center;
}

.m-conf-info-title, .m-conf-content-percent-60, .m-conf-content-percent-89, .m-conf-content-percent-43,
.m-conf-date, .m-conf-time, .m-conf-to, .m-conf-timezone-recurrence{
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.m-conf-info-title {
    width: 8%;
    min-width: 110px;
}
.m-conf-content-percent-43 {
    width: 43%
}
.m-conf-content-percent-60 {
    width: 60%
}
.m-conf-content-percent-89 {
    width: 88%
}
.m-conf-msg-offset {
    margin-left: 8%;
}
@media (max-width: 1366px) {
    .m-conf-msg-offset {
        margin-left: 110px;
    }
}
.m-conf-date, .m-conf-timezone-recurrence {
    width: 30%;
}
.m-conf-time {
    width: 128px;
}
.m-conf-to {
    width: 6%;
}
.m-conf-timezone-recurrence>a:first-child {
    margin-right: 5px;
}

.btn-yealink-danger[disclick] {
    border-color: grey;
    background-color: grey;
    cursor: not-allowed
}
.btn-yealink-danger:focus, .btn-yealink-danger:active {
    outline: none;
}

.margin-left15 {
    margin-left: 15px;
}

.ztree li a.level0>span:nth-child(2) {
    max-width: 255px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.custom-col-xs-no-padding {
    padding: 0;
}