@-moz-document url-prefix() {
    .checkbox>label>input {
        margin-top: -1px;
        height: 15px;
    }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: url('../img/login/login-bg.jpg') fixed;
    background-size: cover;
}

.m-login-logo{
    height: 48px;
    padding-left: 81px;
}

@media (max-width: 768px){
    .m-login-logo {
        padding-top: 50px;
    }
    .m-login {
        margin-top: 150px !important;
    }
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.m-login-lang{
    /*width: 221px;*/
    /*height: 48px;*/
    margin: 0 auto;
    border-radius: 4px;
    position: absolute;
    top: 3%;
    left: 92%;
    margin-left: 0px;
    color: white;
    padding: 10px;
}

.m-login-navi a{
    color: white;
}

.m-login-navi .nav > li > a:hover, .nav > li > a:focus{
    color: white;
    background-color: rgba(255,255,255,0.05);
}

.m-login-navi .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    color: white;
    background-color: rgba(255,255,255,0.05);
}

.m-login-foot{
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.m-login-foot > p {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color:#8492a6;
    text-align: center;
}

.m-login-size-12{
    font-size: 12px;
    color:#8492a6
}

.btn-yealink {
    color: #fff;
    background-color: #0bb289;
    border-color: #0bb289;
}
.btn-yealink:hover,
.btn-yealink:active,
.btn-yealink:focus{
    color: #fff;
    background-color: #0dd0a0;
    border-color: #0dd0a0;
}

.m-login-btn{
    font-family: "Microsoft YaHei";
    background-color: #0cc295;
    border-color: #0cc295;
    font-size: 18px;
    height: 46px;
    color: white;
}

.m-login-btn:hover{
    background-color: #30cba5;
    border-color: #30cba5;
    color: white;
}

.m-login-btn:focus,
.m-login-btn:active{
    background-color: #0aa571;
    border-color: #0aa571;
    color: white;
}

.m-login-width-100{
    width: 100%;
}

.m-login-width-171{
    width: 171px;
}

/*.forgot-pwd {*/
    /*background-color: #fff;*/
    /*width: 290px;*/
    /*height: 536px;*/
    /*margin: 0 auto;*/
    /*border-radius: 4px;*/
/*}*/

.welcome {
    height: 170px;
    width: 290px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background:url("../img/login/login_div_bg.png");
    background-size: cover;
    float: left;
}

.welcome > span {
    color: #fff;
    font-size: x-large;
}

.welcome .logo{
    display: block;
    width: 182px;
    height: 50px;
    background: url("../img/login/login_div_logo.png") no-repeat;

    margin-left: 42px;
    margin-top: 42px;
    margin-bottom: 10px;
}
.welcome .title{
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Microsoft YaHei";
}


.forget-pwd{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #1f2d3b;
    vertical-align: middle;
}
.forget-pwd > img{
    padding-bottom: 2px;
}

.rememberMe{
    font-size: 14px;
    /*margin-left: 0px;*/
    font-family: "Microsoft YaHei";
    color: white;
}

.form-login .forget-pwd:hover {
    color: #2ecc71;
}


.m-fgpwd-title{
    display: inline-block;
    width: 100%;
    height: 170px;
    background:  url('../img/login/login_div_bg.png');
    background-size: cover;
}

.m-fgpwd-form{
    padding-left: 30px;
    padding-right: 30px;
}

.m-fgpwd-form a{
    width: 111px;
}

/*.m-fgpwd-form img {*/
    /*width: 75px;*/
    /*height: 25px;*/
    /*z-index: 2;*/
    /*position: relative;*/
    /*top: -30px;*/
    /*left:150px;*/
    /*display: inline;*/
/*}*/
/*.m-fgpwd-title .logo{*/
    /*display: block;*/
    /*width: 182px;*/
    /*height: 50px;*/
    /*background: url("../img/login/login_div_logo.png") no-repeat;*/

    /*margin-left: 42px;*/
    /*margin-top: 42px;*/
    /*margin-bottom: 10px;*/
/*}*/
/*.m-fgpwd-title .title{*/
    /*display: block;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

.m-fgpwd-form-btn{
    margin-top: 27px;
}
.m-fgpwd-form-btn a{
    line-height: 1.7;
}

.m-error-message{
    /*height: 24px;*/
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: red;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}

.m-login-container {
    position: relative;
    min-height: 100%;
}

.m-login{
    padding-top: 100px;
    padding-bottom: 100px;
}

.m-login .m-form {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
}

.m-login .m-form .has-error .form-control{
    border-color: inherit;
}

.m-login .m-form .m-mg-choose{
    height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
}
.m-login .m-form .m-fgpwd-notice{
    height: auto;
    margin-top: 25px;
    margin-bottom: 6px;
    text-align: left;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: white;
}

.m-login .m-login-title{
    font-size: 30px;
    font-family: "Microsoft YaHei";
    text-align: center;
    margin-bottom: 5px;
    color: white;
}


.m-login .form-group{
    height: 70px;
    width: 362px;
    padding: 0px;
    margin-bottom: 0px;
}

.m-login .form-control{
    height: 46px;
    color: #333333;
    font-family: AdobeHeitiStd-Regular;
    font-size: 16px;
    margin-bottom: 0px;
}

.m-login .login-error-group{
    display: none;
}

.m-login .form-group .checkbox{
    display: inline;
}

.m-login .form-group .checkbox span{
    position: relative;
    color: #1f2d3b;
    top: -1px;
}

.m-login .m-login-usn{
    background: url("../img/login/acc.png") no-repeat;
    background-color: white;
    -ms-background-position-x: 5px;
    background-position-x: 5px;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    padding-left: 32px;
}

.m-login .m-login-pwd{
    background: url("../img/login/pwd.png") no-repeat;
    background-color: white;
    -ms-background-position-x: 5px;
    background-position-x: 5px;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    padding-left: 32px;
}

.m-login-mail{
    background: url("../img/login/mail.png") no-repeat;
    background-color: white;
    -ms-background-position-x: 5px;
    background-position-x: 5px;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    padding-left: 32px;
}


.m-login-cap{
    height: 34px;
}

.m-login-cap > img {
    width: 75px;
    height: 32px;
    z-index: 2;
    position: relative;
    top: -38px;
    left:275px;
    display: inline;
}

.m-mg-height-50{
    height: 40px;
    margin-top: 15px;
    padding: 0px;
}
.m-mg-top-15{
    margin-top: 15px;
}

.m-login-boder{
    border-color: white;
    border: 1px;
}

.login-a-about {
    margin: 0 15px;
    float: left;
}

.form-inline{
    margin-top: 0;
    margin-bottom: 0;
}